window {
    border-radius: 0px;
    border: none;
    background: #0e0e0e;
    overflow: hidden;
    color: #b0b0b0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12;
}

#outer-box {
    padding: 10px;
}

#entry {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    color: #b0b0b0;
    font-weight: 700;
}

#entry:selected {
    border-radius: 0px;
    background: #252525;
    outline: none;
    border: none;
    border-radius: 0px;
    color: #b0b0b0;
}

#input {
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #b0b0b0;
}

#input:focus {
    border-radius: 0px;
    background: #252525;
    outline: none;
    border: none;
    box-shadow: none;
    color: #b0b0b0;
}

#img {
    height: 10px;
    margin-right: 10px;
}
